@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model IEnumerable<CarRentingProject_Melvin.Models.Tenant>

@{
    ViewData["Title"] = @Loc["Index"];
}

<h1>@Loc["Index"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Loc["Firstname"]
            </th>
            <th>
                @Loc["Lastname"]
            </th>
            <th>
                @Loc["User Name"]
            </th>
            <th>
                @Loc["Birthday"]
            </th>
            <th>
                @Loc["Gender"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Loc["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Loc["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Loc["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
