@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model IEnumerable<CarRentingProject_Melvin.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@Loc["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Loc["Brand"]
            </th>
            <th>
                @Loc["Model"]
            </th>
            <th>
                @Loc["Price"]
            </th>
            <th>
                @Loc["Production date"]
            </th>
            <th>
                @Loc["Mileage"]
            </th>
            <th>
                @Loc["Renter"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.FirstName)
            </td>
            <td>
                <a asp-controller="RentedCars" asp-action="Create" asp-route-id="@item.Id" asp-route-wich="2">@Loc["Rent"]</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">@Loc["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Loc["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Loc["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
