@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model IEnumerable<CarRentingProject_Melvin.Models.RentedCars>

@{
    ViewData["Title"] = @Loc["Index"];
    string VerticalLine = " | ";
}

<h1>@Loc["Index"]</h1>

@if (User.IsInRole("Tenant"))
{
    <p>
        <a asp-action="Create">@Loc["Create New"]</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Loc["Cars"]
            </th>
            <th>
                @Loc["Tenant"]
            </th>
            <th>
                @Loc["Ride time"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideTime)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Renter"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@Loc["Edit"]</a> @VerticalLine
                    }

                <a asp-action="Details" asp-route-id="@item.Id">@Loc["Details"]</a> @VerticalLine

                @if (User.IsInRole("Admin") || User.IsInRole("Renter"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">@Loc["Delete"]</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
