@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model CarRentingProject_Melvin.Models.Renter

@{
    ViewData["Title"] = @Loc["Details"];
}

<h1>@Loc["Details"]</h1>

<div>
    <h4>@Loc["Renter"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Loc["Firstname"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Loc["Lastname"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Loc["User Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Loc["Birthday"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Loc["Gender"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Loc["Edit"]</a> |
    <a asp-action="Index">@Loc["Back to List"]</a>
</div>
